.custom-toast-container{
    position: absolute;
    top:10;
    margin-left: auto;
    margin-right: auto;
    height:100px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box

}

#custom-toast-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 300px;
}