@media (max-width: 1300px) {
	.form-content {
		margin-left: 260px;
		max-width: calc(100% - 290px);
	}

	.container {
		padding: 10px;
	}

	#dynamic-form {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 920px) {
	#dynamic-form {
		grid-template-columns: 1fr;
	}
	.comment-space{
		width:80%;
	}
}

@media (max-width: 650px) {
	.desktop-nav {
		display: none !important;
	}
	.content {
		margin-left: 3%;
		max-width: 90%;
		float: left;
		min-width: calc(100% - 6%) !important;
	}
	[class$="-select-area"] {
		display: flex;
		flex-direction: column;
	  }
	  
	  [class$="-select-area"] > button {
		display: block;
		width: 90% !important;
	  }

	.mobile-nav {
		display: block !important;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1100;
	}

	.form-content {
		margin-top: 70px;
		margin-left: 10px;
		max-width: calc(100% - 20px);
	}
	.update-info{
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.mobile-nav .nav-link {
		color: #2b2b2b !important;
		font-weight: 475;
	  }
	.buttons-space{
		width:fit-content !important;
	}
	.form-button{
		width:fit-content !important;
	}
	.btn{
		width:fit-content !important;
	}
	.table{
		width:80% !important;
		table-layout:fit-content !important;

	}
	
}