<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Panel Logowania</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>
<body>
<form action="/login" method="POST">
  <div class="login-box">
    <h3 class='p-3 ms-3 mr-5' > Panel logowania HKL</h3>
    <div class="input-space pt-3">
      <p>Podaj pin</p>
      <input type="text" name="username" placeholder='pin'>
    </div>
    <div class="input-space">
      <p>Podaj hasło</p>
      <input type="password" name="password" placeholder='hasło'>
    </div>
  <button class="btn btn-outline-secondary">Zaloguj się</button>
</div>
</form>

</body>
</html>